:root {
    --primary: #55819e;
    --secondary: #8199b5;
    --accent: #c8cbe0;
    --card: #e6dcef;
    --background: #f5eef8;
}
/* ___Body___ */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    background-color: var(--background);
    color: var(--primary);
}

/* ___Header___ */
header{
    padding: 40px;
}

/* ___Main___ */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ___Section___ */
section{
    background-color: var(--primary);
    color: white;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    max-width: 600px;
}

/* ___Button___ */
button{
    margin-top: 30px;
    padding: 10px 20px;
    border: 0px;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: var(--secondary);
}
